<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>MMsgr</title>
    <link rel="stylesheet" href='/bootstrap/css/bootstrap.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

</head>
<body>
<my-app>coming birds...</my-app>
<script src="/js/app/bundle.js"></script>
</body>
</html>
